<app-navmenu></app-navmenu>
<app-left-admin-menu></app-left-admin-menu>
<app-modal-create-vacacies
  [isVisible]="modalCreateVacanciesVisible"
  [onCloseModal]="handleVisibilityModalCreateVacancies"
></app-modal-create-vacacies>

<div class="w-full h-screen flex flex-col items-center p-5 gap-5">
  <div class="w-[70%] h-[100%] flex flex-col gap-5 mt-[100px]">
    <div class="flex items-center justify-between">
      <h1 class="font-bold text-3xl">Vagas Cadastradas</h1>

      <button
        (click)="handleVisibilityModalCreateVacancies()"
        class="inline-flex hover:cursor-pointer justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
      >
        Adicionar
      </button>
    </div>

    <div class="row">
      <div class="column">
        <table
          class="min-w-full bg-white border-gray-200 shadow-md rounded-lg overflow-hidden"
        >
          <thead class="bg-gray-100 text-gray-800 uppercase">
            <tr>
              <th class="py-3 px-6 text-left">Titulo</th>
              <th class="py-3 px-6 text-left">Descrição</th>
              <th class="py-3 px-6 text-left">Tecnologias</th>
              <th class="py-3 px-6 text-center">Ações</th>
            </tr>
          </thead>

          <tbody class="text-gray-700">
            <tr
              *ngFor="let vacancy of vacancies"
              class="items-center justify-center border-b border-gray-200 hover:bg-gray-50"
            >
              <td class="py-4 px-6">{{ vacancy.title }}</td>
              <td class="py-4 px-6">{{ vacancy.descriptions }}</td>
              <td class="py-4 px-6">{{ vacancy.requirements }}</td>
              <td class="py-4 px-6 flex gap-1">
                <button
                  class="inline-flex hover:cursor-pointer justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                >
                  Editar
                </button>

                <button
                  (click)="handleDeleteVacancyById(vacancy.id)"
                  class="inline-flex hover:cursor-pointer justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-100"
                >
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
