<div
  class="w-[280px] h-[100vh] flex flex-col items-center pt-[100px] absolute left-0 border-solid border-r-gray-300 border-[0.5px] gap-4"
>
  <h1 class="font-semibold text-xl">Menu Principal</h1>

  <a
    href="/admin"
    target="_self"
    class="w-[200px] h-[40px] hover:bg-gray-200 ease-in-out duration-100 flex items-center justify-center rounded-sm"
  >
    Inscrições
  </a>
  <a
    href="/admin/vacancies"
    target="_self"
    class="w-[200px] h-[40px] hover:bg-gray-200 ease-in-out duration-100 flex items-center justify-center rounded-sm"
  >
    Cadastro de Vagas
  </a>
</div>
